USE [master]
GO
/****** Object:  Database [QuanLyBanHangCaPhe]    Script Date: 23/05/2025 11:59:54 CH ******/
CREATE DATABASE [QuanLyBanHangCaPhe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBanHangCaPhe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyBanHangCaPhe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyBanHangCaPhe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyBanHangCaPhe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanHangCaPhe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanHangCaPhe]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [varchar](20) NOT NULL,
	[SoLuongGhe] [int] NULL,
	[TinhTrang] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonBan]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonBan](
	[MaHoaDonBan] [int] NOT NULL,
	[MaSanPham] [varchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [decimal](15, 4) NULL,
	[GhiChu] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonNhap]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonNhap](
	[MaHoaDonNhap] [varchar](20) NOT NULL,
	[MaNguyenLieu] [varchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](15, 4) NULL,
	[ThanhTien] [decimal](15, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDonNhap] ASC,
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSanPham]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSanPham](
	[MaSanPham] [varchar](20) NOT NULL,
	[MaNguyenLieu] [varchar](20) NOT NULL,
	[SoLuongDung] [float] NULL,
	[ChiPhi] [decimal](15, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC,
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [varchar](20) NOT NULL,
	[TenChucVu] [nvarchar](50) NULL,
	[LuongCoBan] [decimal](15, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhThuc]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThuc](
	[MaHinhThuc] [bit] NOT NULL,
	[TenHinhThuc] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHinhThuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonBan]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonBan](
	[MaHoaDonBan] [int] IDENTITY(1,1) NOT NULL,
	[NgayBan] [date] NULL,
	[MaNhanVien] [varchar](20) NULL,
	[MaKhachHang] [varchar](20) NULL,
	[TongTien] [decimal](15, 4) NULL,
	[MaBan] [varchar](20) NULL,
	[MaKhuyenMai] [varchar](20) NULL,
	[Trangthai] [bit] NULL,
	[Hinhthuc] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDonBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[MaHoaDonNhap] [varchar](20) NOT NULL,
	[NgayNhap] [date] NULL,
	[MaNhanVien] [varchar](20) NULL,
	[MaNhaCungCap] [varchar](20) NULL,
	[TongTien] [decimal](15, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDonNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [varchar](20) NOT NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[SoDienThoai] [nvarchar](50) NULL,
	[DiemTichLuy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKhuyenMai] [varchar](20) NOT NULL,
	[MucKhuyenMai] [decimal](2, 2) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[DieuKien] [decimal](15, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[MaLoai] [varchar](20) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[MaNguyenLieu] [varchar](20) NOT NULL,
	[TenNguyenLieu] [nvarchar](50) NULL,
	[SoLuongHienCo] [int] NULL,
	[DonViTinh] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCungCap] [varchar](20) NOT NULL,
	[TenNhaCungCap] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SoDienThoai] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [varchar](20) NOT NULL,
	[MaChucVu] [varchar](20) NULL,
	[MaQue] [varchar](20) NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[GioiTinh] [char](1) NULL,
	[NgaySinh] [date] NULL,
	[Email] [nvarchar](50) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[NgayTao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Que]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Que](
	[MaQue] [varchar](20) NOT NULL,
	[TenQue] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [varchar](20) NOT NULL,
	[TenSanPham] [nvarchar](50) NULL,
	[MaLoai] [varchar](20) NULL,
	[GiaBan] [decimal](15, 0) NOT NULL,
	[HinhAnh] [nvarchar](200) NULL,
	[GiaNhap] [decimal](15, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDonBan] ADD  DEFAULT (N'') FOR [GhiChu]
GO
ALTER TABLE [dbo].[HoaDonBan] ADD  DEFAULT ((0)) FOR [Trangthai]
GO
ALTER TABLE [dbo].[HoaDonBan] ADD  DEFAULT ((0)) FOR [Hinhthuc]
GO
ALTER TABLE [dbo].[ChiTietHoaDonBan]  WITH NOCHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietHoaDonBan]  WITH NOCHECK ADD  CONSTRAINT [FK_ChiTietHoaDonBan_MaHoaDonBan] FOREIGN KEY([MaHoaDonBan])
REFERENCES [dbo].[HoaDonBan] ([MaHoaDonBan])
GO
ALTER TABLE [dbo].[ChiTietHoaDonBan] CHECK CONSTRAINT [FK_ChiTietHoaDonBan_MaHoaDonBan]
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH NOCHECK ADD FOREIGN KEY([MaHoaDonNhap])
REFERENCES [dbo].[HoaDonNhap] ([MaHoaDonNhap])
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH NOCHECK ADD FOREIGN KEY([MaNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([MaNguyenLieu])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH NOCHECK ADD FOREIGN KEY([MaNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([MaNguyenLieu])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH NOCHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[HoaDonBan]  WITH NOCHECK ADD FOREIGN KEY([MaBan])
REFERENCES [dbo].[Ban] ([MaBan])
GO
ALTER TABLE [dbo].[HoaDonBan]  WITH NOCHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HoaDonBan]  WITH NOCHECK ADD FOREIGN KEY([MaKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([MaKhuyenMai])
GO
ALTER TABLE [dbo].[HoaDonBan]  WITH NOCHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HoaDonBan]  WITH NOCHECK ADD  CONSTRAINT [FK_HoaDonBan_HinhThuc] FOREIGN KEY([Hinhthuc])
REFERENCES [dbo].[HinhThuc] ([MaHinhThuc])
GO
ALTER TABLE [dbo].[HoaDonBan] CHECK CONSTRAINT [FK_HoaDonBan_HinhThuc]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH NOCHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH NOCHECK ADD FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[NhanVien]  WITH NOCHECK ADD FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[NhanVien]  WITH NOCHECK ADD FOREIGN KEY([MaQue])
REFERENCES [dbo].[Que] ([MaQue])
GO
ALTER TABLE [dbo].[SanPham]  WITH NOCHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai] ([MaLoai])
GO
/****** Object:  Trigger [dbo].[trg_CalculateThanhTien_HDB]    Script Date: 23/05/2025 11:59:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create trigger cho hoa don ban
CREATE TRIGGER [dbo].[trg_CalculateThanhTien_HDB]
ON [dbo].[ChiTietHoaDonBan]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ct
    SET ThanhTien = i.SoLuong * sp.GiaBan
    FROM ChiTietHoaDonBan ct
    INNER JOIN inserted i ON ct.MaHoaDonBan = i.MaHoaDonBan AND ct.MaSanPham = i.MaSanPham
    INNER JOIN SanPham sp ON i.MaSanPham = sp.MaSanPham;
END;
GO
ALTER TABLE [dbo].[ChiTietHoaDonBan] ENABLE TRIGGER [trg_CalculateThanhTien_HDB]
GO
/****** Object:  Trigger [dbo].[trg_TinhTongTien_HoaDonBan]    Script Date: 23/05/2025 11:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TinhTongTien_HoaDonBan]
ON [dbo].[ChiTietHoaDonBan]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE hdb
    SET TongTien = 
        ISNULL((
            SELECT SUM(ThanhTien)
            FROM ChiTietHoaDonBan
            WHERE MaHoaDonBan = hdb.MaHoaDonBan
        ), 0)
        * 
        ISNULL((
            SELECT 1 - MucKhuyenMai
            FROM KhuyenMai
            WHERE MaKhuyenMai = hdb.MaKhuyenMai
        ), 1)
    FROM HoaDonBan hdb
    WHERE hdb.MaHoaDonBan IN (
        SELECT MaHoaDonBan FROM inserted
        UNION
        SELECT MaHoaDonBan FROM deleted
    );
END;

GO
ALTER TABLE [dbo].[ChiTietHoaDonBan] ENABLE TRIGGER [trg_TinhTongTien_HoaDonBan]
GO
/****** Object:  Trigger [dbo].[trg_CalculateThanhTien_HDN]    Script Date: 23/05/2025 11:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create trigger cho hoa don nhap
CREATE TRIGGER [dbo].[trg_CalculateThanhTien_HDN]
ON [dbo].[ChiTietHoaDonNhap]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE cthdn
    SET ThanhTien = i.SoLuong * i.DonGia
    FROM ChiTietHoaDonNhap cthdn
    INNER JOIN inserted i
        ON cthdn.MaHoaDonNhap = i.MaHoaDonNhap
        AND cthdn.MaNguyenLieu = i.MaNguyenLieu;
END;
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap] ENABLE TRIGGER [trg_CalculateThanhTien_HDN]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatSoLuongNguyenLieu]    Script Date: 23/05/2025 11:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Nhập hàng
CREATE TRIGGER [dbo].[trg_CapNhatSoLuongNguyenLieu]
ON [dbo].[ChiTietHoaDonNhap]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    -- Cộng số lượng nếu thêm
    UPDATE nl
    SET nl.SoLuongHienCo = nl.SoLuongHienCo + ISNULL(i.SoLuong, 0)
    FROM NguyenLieu nl
    INNER JOIN inserted i ON nl.MaNguyenLieu = i.MaNguyenLieu;
END;
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap] ENABLE TRIGGER [trg_CapNhatSoLuongNguyenLieu]
GO
/****** Object:  Trigger [dbo].[trg_TinhTongTien_HoaDonNhap]    Script Date: 23/05/2025 11:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trigger tính TongTien cho bảng HoaDonNhap
CREATE TRIGGER [dbo].[trg_TinhTongTien_HoaDonNhap]
ON [dbo].[ChiTietHoaDonNhap]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

-- Cập nhật lại tổng tiền cho các hóa đơn bị ảnh hưởng
    UPDATE hdn
    SET TongTien = (
        SELECT SUM(ThanhTien)
        FROM ChiTietHoaDonNhap
        WHERE MaHoaDonNhap = hdn.MaHoaDonNhap
    )
    FROM HoaDonNhap hdn
    WHERE hdn.MaHoaDonNhap IN (
        SELECT MaHoaDonNhap FROM inserted
        UNION
        SELECT MaHoaDonNhap FROM deleted
    );
END;
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap] ENABLE TRIGGER [trg_TinhTongTien_HoaDonNhap]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatChiPhi_ChiTietSanPham]    Script Date: 23/05/2025 11:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatChiPhi_ChiTietSanPham]
ON [dbo].[ChiTietSanPham]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ctsp
    SET ChiPhi = ctsp.SoLuongDung * cthdn.DonGia
    FROM ChiTietSanPham ctsp
    JOIN inserted i ON ctsp.MaSanPham = i.MaSanPham AND ctsp.MaNguyenLieu = i.MaNguyenLieu
    CROSS APPLY (
        SELECT TOP 1 cthdn.DonGia
        FROM ChiTietHoaDonNhap cthdn
        JOIN HoaDonNhap hdn ON cthdn.MaHoaDonNhap = hdn.MaHoaDonNhap
        WHERE cthdn.MaNguyenLieu = i.MaNguyenLieu
        ORDER BY hdn.NgayNhap DESC
    ) AS cthdn;
END;
GO
ALTER TABLE [dbo].[ChiTietSanPham] ENABLE TRIGGER [trg_CapNhatChiPhi_ChiTietSanPham]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatGiaNhap_SanPham]    Script Date: 23/05/2025 11:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatGiaNhap_SanPham]
ON [dbo].[ChiTietSanPham]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- Danh sách sản phẩm bị ảnh hưởng
    DECLARE @AffectedSanPham TABLE (MaSanPham VARCHAR(20));

    -- Với INSERT
    INSERT INTO @AffectedSanPham (MaSanPham)
    SELECT DISTINCT MaSanPham FROM inserted;

    -- Với DELETE
    INSERT INTO @AffectedSanPham (MaSanPham)
    SELECT DISTINCT MaSanPham FROM deleted;

    -- Cập nhật lại GiaNhap = tổng ChiPhi của nguyên liệu cấu thành sản phẩm
    UPDATE sp
    SET GiaNhap = ISNULL(ct.TongChiPhi, 0)
    FROM SanPham sp
    JOIN (
        SELECT MaSanPham, SUM(ChiPhi) AS TongChiPhi
        FROM ChiTietSanPham
        GROUP BY MaSanPham
    ) ct ON sp.MaSanPham = ct.MaSanPham
    WHERE sp.MaSanPham IN (SELECT MaSanPham FROM @AffectedSanPham);
END;
GO
ALTER TABLE [dbo].[ChiTietSanPham] ENABLE TRIGGER [trg_CapNhatGiaNhap_SanPham]
GO
/****** Object:  Trigger [dbo].[trg_TinhChiPhi]    Script Date: 23/05/2025 11:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create trigger cho chi phi cua chi tiet san pham
CREATE TRIGGER [dbo].[trg_TinhChiPhi]
ON [dbo].[ChiTietSanPham]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ctsp
    SET ChiPhi = i.SoLuongDung * (
        SELECT TOP 1 ctdn.DonGia
        FROM ChiTietHoaDonNhap ctdn
        WHERE ctdn.MaNguyenLieu = i.MaNguyenLieu
        ORDER BY ctdn.MaHoaDonNhap DESC -- lấy giá nhập mới nhất
    )
    FROM ChiTietSanPham ctsp
    INNER JOIN inserted i
        ON ctsp.MaSanPham = i.MaSanPham AND ctsp.MaNguyenLieu = i.MaNguyenLieu;
END;
GO
ALTER TABLE [dbo].[ChiTietSanPham] ENABLE TRIGGER [trg_TinhChiPhi]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatTinhTrangBan]    Script Date: 23/05/2025 11:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatTinhTrangBan]
ON [dbo].[HoaDonBan]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật tình trạng bàn thành ĐANG SỬ DỤNG (1) nếu Hóa đơn có TrangThai = 0
    UPDATE Ban
    SET TinhTrang = 1
    FROM Ban b
    INNER JOIN inserted i ON b.MaBan = i.MaBan
    WHERE i.TrangThai = 0;

    -- Cập nhật tình trạng bàn thành TRỐNG (0) nếu Hóa đơn có TrangThai = 1
    UPDATE Ban
    SET TinhTrang = 0
    FROM Ban b
    INNER JOIN inserted i ON b.MaBan = i.MaBan
    WHERE i.TrangThai = 1;
END;
GO
ALTER TABLE [dbo].[HoaDonBan] ENABLE TRIGGER [trg_CapNhatTinhTrangBan]
GO
/****** Object:  Trigger [dbo].[trg_TinhTongTien_KhiKhuyenMaiThayDoi]    Script Date: 23/05/2025 11:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TinhTongTien_KhiKhuyenMaiThayDoi]
ON [dbo].[HoaDonBan]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE hdb
    SET TongTien =
        ISNULL((
            SELECT SUM(ThanhTien)
            FROM ChiTietHoaDonBan
            WHERE MaHoaDonBan = hdb.MaHoaDonBan
        ), 0)
        *
        ISNULL((
            SELECT 1 - MucKhuyenMai
            FROM KhuyenMai
            WHERE MaKhuyenMai = hdb.MaKhuyenMai
        ), 1)
    FROM HoaDonBan hdb
    INNER JOIN inserted i ON hdb.MaHoaDonBan = i.MaHoaDonBan
    INNER JOIN deleted d ON hdb.MaHoaDonBan = d.MaHoaDonBan
    WHERE
        ISNULL(i.MaKhuyenMai, '') <> ISNULL(d.MaKhuyenMai, '');
END;
GO
ALTER TABLE [dbo].[HoaDonBan] ENABLE TRIGGER [trg_TinhTongTien_KhiKhuyenMaiThayDoi]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatGiaBan_SanPham]    Script Date: 23/05/2025 11:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatGiaBan_SanPham]
ON [dbo].[SanPham]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật Giá Bán nếu Giá Nhập bị thay đổi
    UPDATE sp
    SET GiaBan = ROUND(sp.GiaNhap * 1.1, 0)  -- Làm tròn nếu cần
    FROM SanPham sp
    JOIN inserted i ON sp.MaSanPham = i.MaSanPham
    WHERE i.GiaNhap IS NOT NULL AND i.GiaNhap <> sp.GiaBan / 1.1;
END
GO
ALTER TABLE [dbo].[SanPham] ENABLE TRIGGER [trg_CapNhatGiaBan_SanPham]
GO
USE [master]
GO
